@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  font-family: 'Inconsolata', monospace;
}

/* Dashboard css */
.dashboard-card {
  padding: 40px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 5px;
}

.dashboard-desc {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-card img {
  margin-bottom: 50px;
  max-height: 625px;
}

.dashboard-buttons {
  text-align: center;
}

/* GameScreen css */
.game-screen {
  padding: 40px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  width: 725px;
  text-align: center;
}

.game-screen-content {
  position: relative;
  left: 3%;
}

.question-card ul {
  position: relative;
  list-style: none;
  padding: 20px;
}

.question-text {
  font-size: 20px;
}

.question-card li {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.question-card li {
  cursor: pointer;
}

.question-card input[type='radio'] {
  display: none;
}

.question-card label {
  cursor: pointer;
}
