@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Josefin Sans', cursive;
    background: url('https://miro.medium.com/max/1400/1*L76A5gL6176UbMgn7q4Ybg.jpeg');
}

.menu-card {
    display: block;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    width: 400px;
    background-color: #aaaaaa;
}

.menu-card button {
    border-radius: 10px;
}

.form-wrapper {
    display: block;
    padding: 20px;
    margin: 30% auto;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    background-color: #aaaaaa;
    width: 50%;
    height: 150px;
}

.form-wrapper .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-screen,
.top-score-wrapper {
    display: block;
    padding: 50px;
    margin: 30% auto;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    background-color: #aaaaaa;
}

.quiz-screen *,
.top-score-wrapper * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-score-wrapper .score-item {
    padding: 5px;
    border-radius: 20px;
    background-color: blanchedalmond;
}

.top-score-wrapper h2 {
    background-color: blanchedalmond;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 0%);
}

.top-score.back-btn,
.quiz.back-btn {
    margin-bottom: 20px;
}

.question-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
